{% extends 'mysite/base.html' %}

{% block body %}

<div class="blog-wrapper">
        <div class="blog-news">
    		{% for tip in tips %}
                <div class="blog-news-image">
                    <img src="{{ tip.tip_image.url }}" alt="">
                </div>

                <div class="blog-content-text">
                    <h1>{{ tip.tip_headline }}</h1>
                    <p>{{ tip.tip_content }}</p> 
                       
                </div>
            {% endfor %}
        </div>      
</div>
{% endblock %}